In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv("DOGE DEMO.csv")
df.head()

,År,Myndighet,Anslagsnamn,Anslagspostsnamn,Utgiftsområdesnamn,Organisationsnummer,Total,Unnamed: 7,Unnamed: 8,Utfall januari,...,Utfall mars,Utfall april,Utfall maj,Utfall juni,Utfall juli,Utfall augusti,Utfall september,Utfall oktober,Utfall november,Utfall december
0,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,2.675130e+11,NaN,NaN,"28,603,765,692",...,"28,604,901,725","28,633,829,412","28,693,990,387","2,873,964,356","2,876,228,858","28,809,660,861","28,882,424,709","28,893,921,976","28,883,854,056","28,893,574,788"
1,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.007173e+09,NaN,NaN,"83,931,082",...,"83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,082","83,931,098"
2,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,"AP-fonderna, pensionsutgifter",Ålderspensionssystemet vid sidan av statens bu...,NaN,0.000000e+00,NaN,NaN,"0,426306",...,0,0,0,0,0,0,0,0,0,0
3,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,1.115000e+03,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1115
4,2022,NaN,Ålderspensionssystemet vid sidan av statens bu...,Administrationsutgifter,Ålderspensionssystemet vid sidan av statens bu...,NaN,4.870000e+02,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,487

In [75]:
mynd = "Naturvårdsverket"
year = 2024
filter_df = df[(df['Myndighet'] == mynd) & (df['År'] == year)]
filter_df

total_summa = filter_df['Total'].sum().sum()
print("Total Money (B):", total_summa/1000000000)

Total Money (B): 873.03477832

In [141]:
filter_df = df[df['År'] == 2022]

grupp_df = filter_df.groupby('Myndighet')['Total'].sum()
sum_total_22 = grupp_df.sum()
print(sum_total_22/1000000000)
grupp_df.sort_values(ascending=False)

65114.066772737

Myndighet
Försäkringskassan                  1.357607e+13
Trafikverket                       5.968030e+12
Kammarkollegiet                    5.206552e+12
Försvarsmakten                     4.759684e+12
Arbetsförmedlingen                 4.084363e+12
                                       ...
Kungliga hov- och slottsstaten     1.110870e+05
Gymnastik- och idrottshögskolan    9.141000e+04
Kungl. Konsthögskolan              8.273200e+04
Högskolan i Borås                  7.402700e+04
Mittuniversitetet                 -4.167510e+07
Name: Total, Length: 210, dtype: float64